@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ROOT VARIABLES */
:root {
  --color-primary: #ebeef1;
  --color-danger: #ff7782;
  --color-succes: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #c8d0d8;
  --color-dark: #363949;
  --color-default: #212022;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 1rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(var(--color-light));
}




.padding {
  height: 25px;
}
/* SIDEBAR */

aside {
  height: 100vh;
  width: 25vh;
}

aside .top {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 0.5rem;
  padding-bottom: 1rem;
}


aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .logo img {
  width: 2.5rem;
  height: 2.5rem;
}

aside .sidebar {
  background: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

#whiteline {
  width: 80%;
  justify-self: center;
  height: 1px;
  background-color: white;
  margin: 10px 0; /* Adjust margin as needed */
}

aside .sidebar a span {
  font-size: 1.6rem;
}

aside .sidebar a:hover {
  margin-right: 40px;
  background: white;
  border-radius: var(--border-radius-1);
  color: var(--color-dark);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

.main {
  display: flex; /* Use flexbox to arrange main and right container side by side */
}

/* MQTT */
.wrapper {
  width: 1650px;
  height: 850px;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-right: 5rem;
  background: var(--color-primary);
  border-radius: var(--card-border-radius);
}

.wrapper-top {
  height: 80px;
  padding: 1.2rem;
  border-radius: inherit;
  display: flex;
}



h1 {
  padding-left: 1rem;
  color: var(--color-dark);
}


.wrapper .profile-photo {
  margin-left: auto;
}

.wrapper-main {
  flex: 1;
  padding: 2rem;
  border-radius: inherit;
  justify-content: center;
}

#consoleframe {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px;
  width:100%;
  display: inline-block;
  border:1px solid black;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  background-color: var(--color-background);
}

#consoleframe span {
  overflow-y: scroll;
  overflow: scroll;
}

.wrapper-main h4 {
  width: 8rem;
  margin-top: 1rem;
  margin-left: 1rem;
  color: var(--color-dark);
  
}
.wrapper-main h5 {
  width: 15rem;
  margin-left: 1rem;
  color: red;
}

.wrapper-container {
  height: 40px;
  display: flex;
 }

 
#host {
  margin-top: 1rem;
}
#rootid {
  margin-top: 1rem;
}
#topic_s {
  margin-top: 1rem;
}

#port {
  margin-top: 1rem;
}

#topic_p {
  margin-top: 1rem;
}

#Message {
  margin-top: 1rem;
}




.button-container {
  text-align: center;
  margin-top: 10px;
}

.button-connect {
  background-color: var(--color-succes);
  color: black;
  margin: 0 60px;
  height:25px;
  width: 100px;
}

.button-disconnect {
  background-color: var(--color-danger);
  color: black;
  margin: 0 60px;
  height:25px;
  width: 100px;
}

.button-publish{
  background-color: var(--color-info-dark);
  color: black;
  margin: 0 60px;
  height:25px;
  width: 100px;
}


  [type=text]:focus {
  background-color: rgb(203, 234, 245);
}
input[type=button]:hover {
  color: white;
}


#status {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  height: 25px;
}
.status {
  color: black;
}

.status-subscribed {
  color: var(--color-succes);
}

.status-disconnected {
  color: var(--color-danger);
}

.container > input::placeholder {
  color: var(--color-dark-variant);
}


/* DISCOVER */

#cards-title {
  padding-left: 2rem;
  color: var(--color-dark);
}
.main-scroll-div {
  height: 200px;
  display: flex;
  margin: 0 1rem;
  align-items: center;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
  /* background: #e4e4e4;*/
}

.cover {
  position: relative;
  width: 100%;
  height: 200px;
}

.cover::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 150px;
  background-image: linear-gradient(90deg, var(--color-primary), transparent);
}

.cover::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 150px;
  background-image: linear-gradient(-90deg, var(--color-primary), transparent);
}

.scroll-images {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.cards {
  position: relative;
  min-width: 250px;
  height: 250px ;
  margin: 0 1rem;
  cursor: pointer;
  overflow: hidden;
  background: var(--color-background);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards::before,
.cards::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: inherit;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: box-shadow 0.3s ease;
}

.cards::after {
  top: auto;
  bottom: 0;
  box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
}

.cards:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cards:hover::before,
.cards:hover::after {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.card-img::-webkit-scrollbar {
  -webkit-appearance: none;
}

#card1 {
  width: 100%;
  height: 96%;
}

.cards h4 {
  text-align: center;
}

.cards-img {
  width: 80%; /* This will make card2 80% smaller */
  justify-self: center;
}


#news-title {
  margin-top: 5rem;
  padding-left: 2rem;
  color: var(--color-dark);
}

.news-wrapper {
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

.news {
  width: calc(33.33% - 1rem);
  margin: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: var(--color-background);
  display: flex;
  flex-direction: column; /* Set flex direction to column for proper stacking */
}

.news.news1 {
  background-color: rgb(204, 240, 252); /* Replace with the desired color for the first news card */
}

.news.news2 {
  background-color: rgb(243, 186, 186); /* Replace with the desired color for the second news card */
}

.news.news3 {
  background-color: rgb(212, 245, 212); /* Replace with the desired color for the third news card */
}


.news h3.newstitle {
  margin-bottom: 0.5rem; /* Add spacing between title and description */
}

.news .newsdescription {
  flex: 1; /* Take up the majority of the class */
}

.news h3.newsurl {
  margin-top: 0.5rem; /* Add spacing between description and URL */
}

.newsfooter {
  margin-top: auto; /* Push the .newsfooter to the bottom */
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  align-items: center; /* Align child elements in the center vertically */
}

.newssource,
.newsdate {
  /* flex: 1;  Remove this line to allow content to determine width */
  margin-right: 1rem; /* Add spacing between source and date */
}

/* SETTINGS */

.settings-wrapper {
  height: 100%;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.settings-container {
  margin-top: 0.8rem;
  padding: 15px;
  height: auto; /* Adjusted to auto to let content determine height */
  box-sizing: border-box;
  background: var(--color-background);
  border-radius: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  align-items: center; /* Align items vertically in the center */
}

.settings-userdetails-container > h4 {
  padding-left: 1rem;
}

.settings-userdetails-container {
  display: flex;
  gap: 1rem;
  align-items: center; /* Center items horizontally */

}

.settings-indepth-container {
  display: flex;
  padding: 5px;
  align-items: center; /* Center items horizontally */
}

.settings-titles {
  color: var(--color-dark-variant);
  padding: 10px; /* Adjusted padding */
  font-size: 15px;
  width: 120px;
}

.settings-input {
  padding: 10px; /* Adjusted padding */
  height: 30px;
  background-color: var(--color-background);
  flex-grow: 1; /* Allow the input to take up remaining space */
  margin-left: 10px; /* Add margin for spacing between title and input */
  border: 2px solid #ddd; /* Added border */
}

.settings-input[readonly] {
  color: grey;
}

#dob {
  margin-left: 10px;
  flex-grow: 0;
  background-color: var(--color-background);
}

/* Additional styling for the gender switch */
.gender-switch {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* Style the radio buttons to make them visually hidden */
.gender-switch input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style the labels to create a switch appearance */
.gender-switch label {
  background-color: var(--color-light);
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 20px;
  width: 80px; /* Adjust the width as needed */
  text-align: center;
  display: inline-block;
}

/* Style the labels when selected */
.gender-switch input[type="radio"]:checked + label {
  background-color: #3498db; /* Change to your desired selected color */
  color: #fff;
}


.settings-horizontal-container {
  display: flex;
  height: 200px;
  flex-direction: column;
}

.settings-horizontal-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.settings-photo {
  position: relative;
  width: 100px;
  height: 100px;
}

#profilePhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#uploadPhoto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload-button {
  display: inline-block;
  padding:  10px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.settings-indepth-container.save-button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Fix the typo here */
  margin-top: 20px; /* Add margin if needed */
}

.save-button {
  padding: 7px 14px; /* Adjust the padding as needed */
  font-size: 12px; /* Adjust the font size as needed */
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.save-button2 {
  padding: 7px 14px; /* Adjust the padding as needed */
  font-size: 12px; /* Adjust the font size as needed */
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.save-button3 {
  padding: 7px 14px; /* Adjust the padding as needed */
  font-size: 12px; /* Adjust the font size as needed */
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#configurationUserDetailsContainer {
  margin-bottom: 1rem;
}


/* DASHBOARD */

.bookmarks {
  background-color: white;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.current {
  background-color: #ADD8E6;
}

.bookmarks a {
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 100;

}



.health-overall {
  display: grid;
  grid-template-columns: 20% 80%;
}

.health-left {
  height: 400px;
}

.health-card-heartrate {
  margin-top: 0.8rem;
  margin-right: 1rem;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: var(--color-background);
  align-items: center; /* Align items vertically in the center */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.health-card {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 147px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: var(--color-background);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* Adjust margin-bottom for the first health-card */
.health-card:first-child {
  margin-bottom: 1rem; /* Set your desired gap here */
}

/* Adjust margin-top for the second health-card */
.health-card:nth-child(2) {
  margin-top: 1rem; /* Set your desired gap here */
}

.health-card-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between; /* Add this line to distribute space between elements */
}


.health-card-lb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.Humidity {
  background-color: #d5f8ff;
}

.Temperature {
  background-color: #f6edc3;
}

.PushButton {
  background-color: #dddddd;
}

.LED {
  height: 260px;
  margin-left: 1rem;
}

.health-card-lb > h6 {
  font-weight: 100;
  margin: 0; /* Remove default margin */
}

/* Align the menu icon to the right */
.health-card-header .material-symbols-outlined:last-child {
  margin-left: auto;
}

.health-card-header .material-symbols-outlined {
  margin-right: 2px; /* Adjust the value as needed for the desired spacing */
}

.health-card-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PushBtnON,
.PushBtnOFF {
  padding: 20px 40px; /* Adjust padding as needed */
  margin-right: 12px; /* Add spacing between the buttons */
  color: black; /* Set text color */
  border: none;
  border-radius: 5px; /* Adjust border-radius for rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
}

.PushBtnON {
  background-color: var(--color-succes);
}

.PushBtnOFF {
  background-color: var(--color-danger);
}

.PushBtnON:hover,
.PushBtnOFF:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.lightbulb {
  width: 100px; /* Adjust width as needed */
  height: 90px; /* Adjust height as needed */
  background-color: #ccc; /* Default color for OFF state, you can change this */
  border-radius: 50%;
  position: relative;
  margin: 0 30px; /* Adjust the margin to separate the lightbulbs */
  margin-top: 2rem;
}

.Greenglow {
  background-color: var(--color-succes); /* Color when glowing */
  box-shadow: 0 0 10px var(--color-succes); /* Glow effect */
}

.Redglow {
  background-color: #f00; /* Color when glowing */
  box-shadow: 0 0 10px #f00; /* Glow effect */
}

.bulb-text {
  position: absolute;
  bottom: -30px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px; /* Adjust the font size as needed */
  color: var(--color-dark); /* Set the color of the text */
  width: 120px; /* Adjust the width as needed */
  text-align: center;
}

.Accelerometer {
  height: auto;
  margin-right: 1rem;
  margin-left: 0rem;
}

.MPU6050 {
  display: flex;
  margin-top: 1rem;
}

.MPU6050-left,
.MPU6050-right {
  flex: 1; /* Take up equal space */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}


.MPU6050-left,
.MPU6050-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.MPU6050-left-header,
.MPU6050-right-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.MPU6050-left-content,
.MPU6050-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}


.MPU6050-left h4,
.MPU6050-right h4 {
  margin-bottom: 2.5rem;
}

.MPU6050-left-content h3,
.MPU6050-right-content h3 {
  margin: 0 6rem;
}

.MPU6050-left-content .MPU6050-values {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 500;
}

/* Add these styles for the AccelerationX/Y/Z elements */
.MPU6050-left-content .MPU6050-values span {
  margin: 0 6rem; /* Adjust spacing as needed */
}

.MPU6050-right-content .MPU6050-values {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 500;
}

/* Add these styles for the AccelerationX/Y/Z elements */
.MPU6050-right-content .MPU6050-values span {
  margin: 0 6rem; /* Adjust spacing as needed */
}

/* EXERCISE */

.exercise-main {
  display: flex;
}

.exercise {
  flex: 1; /* Make the exercise class take up the available space */
  margin: 0 1rem; /* Add margin on each side */
  height: 750px;
  background: var(--color-background);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  border-radius: var(--border-radius-2);
  border: 1px solid black;
}

.exercise > h1 {
  margin: 1rem 0.5rem;
  color: var(--color-primary-variant);
}

.exercise-content {
  margin-left: 2rem;
}

.exercise-content h3 {
  margin: 0.8rem 1rem;
  color: var(--color-dark-variant);
}

.exercise-content h4 {
  color: var(--color-dark);
  text-decoration: underline;
}

.exercise-content h5 {
  margin-left: 3rem;
  margin-top: 0.4rem;
}





/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .siebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    margin-bottom: 20rem;
  }
  
  .wrapper {
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

